@import "./style/variables";
@import "./style/mixins";

// --- Normalize ---
a {
  text-decoration: none;
  color: $color-black;
  cursor: auto;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body{
  background: $background-color;
  background-attachment: fixed;
}

div.pagebody{
  background-image: url("./assets/component_assets/rasterframe_yellow.png");
  background-size: contain;
  background-repeat: repeat;
  background-attachment: fixed !important;
  margin-top: 12vh;
  height: 88vh;
}

// --- App ---
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  text-align: center;

  .page-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
   
  }
}

// --- Styles ---

.border-effect{
  @include border-effect("1,1");

}

.clickable{
  cursor: pointer;
}

// --- Button ---
button {
  padding: 0 16px;
  @include button($color-primary, $midnight-blue, $midnight-blue);
  margin: 10px;
}

button.primary {
  width: 192px;
  height: 48px;
  @include button($color-primary, $midnight-blue, $midnight-blue);
}

button.secondary {
  width: 192px;
  height: 48px;
  @include button($canvas-white-dark, $midnight-blue, $midnight-blue);
}

button.delete {
  width: 192px;
  height: 48px;
  @include button($sunset-red, $color-black, $midnight-blue);
}

.cat-button {
  font-family: "EavesSansHeavy";
  font-size: 16px;
  width: 91px;
  display: flex;
  flex-direction: column;
  
  .icon {
    padding: 2px 20px;
    @include flex-center();
    @include button($color-primary, $midnight-blue, $midnight-blue);
  }

  .text {
    padding: 3px 25px;
    @include flex-center();
  }

  &.active{
    .button{
       .icon{
        @include button($color-white, $midnight-blue, $midnight-blue);
       }
    }
  }
}

//--navbar--
.navigation {
  z-index: 90;
  height: 100px;
  padding: 16px;
  background: $color-white;
  box-shadow: 0 4px 8px $color-white;

  width: 100%;

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}


li.SearchBar {
  @include searchbar($canvas-white-light, $purple-dark, $midnight-blue, 320px, $nav-element-height);
  padding: 0 16px;
  margin: $nav-element-margin;
  height: $nav-element-height;
}

nav.navigation{
  // nav smallest screen
  div.desktop{
    display: none;
  }
  div.mobile{
    span.logo{
      display: none;
    }
    li.navlogo{
      display: flex;
      align-items: end;
      padding: 0 16px;
      margin: $nav-element-margin;
    }
    li.navprofile{
      height: $nav-element-height;
      display: flex;
      align-items: end;
      justify-content: space-between;
      padding: 0 16px;
      margin: $nav-element-margin;
      width: 122px;
      span.hamburger{
        cursor: pointer;
      }
      a{
        cursor: pointer;
      }
    }
    
  }

  button.nav{
    margin-top: 20px;
    margin-bottom: 0;
  }
  
  
  li.navlogo{
    span.logo{
      cursor: pointer;
      margin: 10px;
    }
    span.text{
      cursor: pointer;
      margin: 10px;
    }
  }
  
  

  // nav small to medium screen
  @include breakpoint(sm){
    div.mobile{
      span.logo{
        display: initial;
      }
      li.navlogo{
        display: flex;
        align-items: end;
        padding: 0 16px;
        margin: 0px 10px 0px 10px;;
      }
    }
  }

  // nav large screen
  @include breakpoint(lg){
    div.desktop{
      display: initial;
      span.logo{
        display: none;
      }
      li.navlogo{
        display: flex;
        align-items: center;
        padding: 0 16px;
        margin: $nav-element-margin;
      }
      button.primary{
        width: 130px;
        font-size: 20px;
      }

      li.navprofile{
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          min-width: 100px;
      }

      div.navmessage{
        svg{
          cursor: pointer;
        }
        
      }
      
      div.profile-block{
        cursor: pointer;
        width: 52px;
        height: 52px;
        div.profile-info{
          display: none;
        }
        img{
          @include border-standard(2px);
          height: $nav-element-height;
        }
      }
    }
    div.mobile{
      display: none;
    }
  }
  // nav extra large screen
  @include breakpoint(xxl){
    div.desktop{
      span.logo{
        display: initial;
      }
      div.profile-block{
        div.profile-info{
          display: initial;
        }
      }
      div.navmessage{
        margin-left: 0px;
      }
      button.primary{
        width: 192px;
        font-size: 24px;
      }
      li.navlogo{
        display: flex;
        align-items: end;
        padding: 0 16px;
        margin: 0px 10px 0px 10px;;
      }
      li.navprofile{
        min-width: 250px;
        div.profile-block{
          width: 200px;
          display: flex;
        }
        div.profile-info{
          padding-right: 15px;
          height: $nav-element-height;
          text-align: end;
          color: $midnight-blue;
            div.username{
              font-family: 'IceCream';
              font-weight: regular;
              font-size: 24px;
            }
            div.profile{
              font-family: 'EavesSansBook';
              font-weight: bold;
              font-size: 20px;
              line-height: 75%;
            
            }
        }
      }
      li.navlogo{
        min-width: 332px;
      }
    }
  }
}

nav.mobileNavigation{
  ul{
    padding-left: 27px;
  }
  li{
    list-style: none;
  }
  div.navmessage{
    padding-right: 20px;
    svg{
      cursor: pointer;
    }
    
  }

  div.divider{
    margin: 16px 0px 0px 0px;
    width: 332px;
    background-color: $canvas-white-dark;
    border-radius: 6px;
    height: 6px;
  }

  li.SearchBar {
    margin: 16px 0px 0px 0px;
    max-width: 296px;
  }


  button.nav{
    margin: 16px 0px 0px 0px;
    width: 332px;
  }

  li.navprofile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 332px;
    margin-bottom: 20px;
  }
  
  div.profile-block{
    cursor: pointer;
    width: 250px;
    height: 72px;
    display: flex;
    align-items: center;
    
    div.profile-info{
      padding-right: 15px;
      height: $nav-element-height;
      text-align: start;
      color: $midnight-blue;
      div.username{
        font-family: 'IceCream';
        font-weight: regular;
        font-size: 24px;
      }
      div.profile{
        font-family: 'EavesSansBook';
        font-weight: bold;
        font-size: 20px;
        line-height: 75%;
            
      }
    }
    img{
      @include border-standard(2px);
      height: 72px;
      margin-right: 16px;
    }
  }
  
}

div.mobileNav{
  
  @include breakpoint(lg){
    display: none;
  }
}

div.mobileMenu{
  z-index:100;
  background-color: $canvas-white-light;
  width: 368px;
  height: 810px;
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 16px 0px 0px 0px;
  border: 4px $canary-yellow-dark;
  border-style: solid none none solid;
}

div.modalbackground{
  z-index:99;
  background-color: rgba(39, 6, 6, 0.021);
  height: 100%;
  width: 100%;
  position: absolute;
}


// --- Headers ---
h1 {
  font-size: 60px;
  font-family: "Icecream";
  color: $color-secondary;
}

h2 {
  font-size: 48px;
  font-family: "Icecream";
  color: $purple-pastel;
}

h3,
h4,
h5,
h6 {
  font-family: "EavesSansHeavy";
  color: $purple-dark;
}

h3 {
  text-align: left;
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

// --- links ---

.link > a {
  color: $color-secondary;
  font-size: 16px;
  font-family: "EavesSansBook";
  transition: color 0.3s ease;

  @include clickable;

  &:hover {
    color: $purple-dark;
  }
}

// --- Text ---
.item-title {
  font-size: 24px;
  font-family: "EavesSansHeavy";
  text-align: left;
  border-bottom: 4px solid $midnight-blue;
  margin-bottom: 20px;
}


// --- Page ---

.page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 27px 18px 55px 18px;
  overflow-y: auto;
  max-width: 1135px;

  @include breakpoint(lg) {
    margin: 27px 36px 0 36px;
    
  }
}

// ## Misc page elements ##

.upload-banner-page {
  .btns {
    display: flex;
    justify-content: space-between;
    button {
      margin: 0;
    }
  }
}

// ## Profile page ##

.profile {
  background-image: url("./assets/component_assets/rasterframe_yellow.png");
  background-size: contain;

  .profile-main {
    height: 296px;
    display: flex;
    flex-direction: column;

    .banner {
      position: relative;
      background: $color-white;
      overflow: hidden;
      height: 152px;

      @include border-standard(3px);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .collapse {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 100%;
        left: 100%;
        padding-bottom: 30px;
        padding-right: 45px;

        @include clickable;
      }

      .dots {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 100%;
        left: 0%;
        padding-bottom: 30px;
        padding-left: 60px;

        @include clickable;
      }
    }

    .profile-btns {
      display: grid;
      flex-grow: 1;
      max-height: 150px;

      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);

      img {
        position: absolute;
        width: 110px;
        left: 50%;
        transform: translate(-50%, -50%);
        aspect-ratio: 1/1;
        object-fit: cover;
        @include border-standard(3px);
        @include border-effect("1,1");
      }
    }
  }
}

// ## Add post page ##

.add-post {
  display: flex;
  flex-direction: column;
  .tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    button {
      margin: 0;
    }
    
  }
  .content{
    flex-grow: 1;
   
    .not-uploaded {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .upload-card {
        margin: 40px 0;
      }
    }
    .uploaded {
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: column;

      .artwork {
        flex-grow: 1;
      }
      > div {
        display: flex;
        button.delete{
          display: flex;
          flex-grow: 1;
          margin: 20px;
          margin-bottom: 60px;
        }
      }
      
    }

    #upload-item-for-post{
      display:none;
    }
    
  }
  .form{
    padding: 0 20px;
    flex-grow: 1;
  }

  @include breakpoint(lg){

    background-color: $canvas-white-light;
    padding: 48px;
    margin: 10px 10px 78px 10px;
    @include border-standard(0px);
    .tabs {

      justify-content: center;
      gap:12px ;

      .cat-button:first-child {
        display: none;
      }
    }

    .content{
      display: grid;
      gap: 100px;
      grid-template-columns: 1fr 1fr;
      #upload-item-for-post{
      display:block;
    }}

    >div:last-child{
      text-align: right;
    }
    
  }
}

// ## Artwork page ##

.artwork-page {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  
  .artwork{
    height: 50vh;
   
  }

  .artwork-info {
    
    height: fit-content;
    background-color: $canvas-white-light;
    @include border-standard(0px);
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0;
    .title{
      padding-top: 0;
      margin-right: 40px
    }
    .user-card{
      display: flex;
      align-items: center;
      
      img{
        width: 53px;
        height: 53px;
        object-fit: cover;
        @include border-standard(3px);
        @include border-effect("1,1");
      }
      .username{
        margin-left: 20px;
        font-family: "EavesSansHeavy";
        font-size: 24px;
        color: $midnight-blue;
        flex-grow: 1;
        text-align: left;
        
      }
    }

  .item-description-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
   
    :first-child { // desctiption title
      text-align: left;
      font-family: "EavesSansHeavy";
      font-size: 20px;
    }
    .item-description {
      margin-top: 4px;
      padding: 8px;
      margin-left: -8px;
      margin-right: -8px;
      font-family: "EavesSansBook";
      font-size: 16px;
      color: $midnight-blue;
      text-align: left;
      background-color: rgba(255, 245, 184, 0.25);
      @include border-standard(0);

    }
  }
}

  @include breakpoint(lg){

    flex-direction: row;
    justify-content: center;
    gap: 36px;
    padding: 20px;

   
    .artwork{
      max-width: 600px;
    }
    .artwork-info{
      max-width: 550px;
      .title{
        padding-top: 20px;
        margin-right: 0px;
      }
      .user-card{
        img{
          width: 72px;
          height: 72px;
        }
        .username{
          font-size: $font-size-xxl;
        }
      }
    }
  }
}

// --- Components ---

.artwork {
  @include flex-center();
  aspect-ratio: 11/10;
  background-color: $color-white;
  box-shadow: 0px 0px 24px 0px $color-primary;
  @include border-standard(0);
  width: 100%;
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      box-sizing: border-box;
      @include border-standard(4px);
    }
  }
}

.upload-card {
  flex-grow: 1;
  max-width: 400px;
  width: 300px;
  height: 185px;
  background: $color-white;
  margin: 40px 0;
  @include border-standard(4px);
  .upload-label {
    @include flex-center(column);
    height: 100%;
  }
}

.uploadImageFlow {
  .file-name-container {
    height: 185px;
    width: 100%;
    margin: 40px 0;
    .file-name {
      padding: 5px 20px;
      color: $color-secondary;
      font-family: "EavesSansHeavy";
      font-size: 20px;
      font-style: normal;
      text-decoration-line: underline;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $color-white;
      @include border-standard(4px);
    }
  }

  .card-item {
    width: 100%;

    @include flex-center();
  }
}

.preview-item {
  .item {
    margin: 40px 0;
    overflow: hidden;
    width: 100%;
    height: 152px;

    @include border-standard(3px);
    @include border-effect("1,1");
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.form {
  margin-top: -20px;
  .form-item {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    label {
      font-family: "EavesSansHeavy";
      font-size: 20px;
      color: $color-black;
      text-align: left;
      padding-left: 12px;
    }
    input,
    textarea {
      padding: 10px;
      font-family: "EavesSansBook";
      font-size: 16px;
      border: 2px solid $midnight-blue;
      @include border-standard(2px);
    }
  }
}

// ----feed----



div.feedpage{
  width: 100%;
  display: flex;
  justify-content: center;
  height: fit-content;
  
}

div.feed-btns{
  z-index: 80;
  top: $nav-margin;
  margin: 8px auto;
  padding: 0 21px;
  width: 434px;
  display: flex;
  justify-content: space-between;
  div.subnav-button{
    @include subnavbutton($canary-yellow,$color-white, $midnight-blue, $midnight-blue);
  }
}
.fixed{
  position: fixed;
}

div.feed{
  margin-top: 100px;
  div.feed-entry{ 
    cursor: pointer;
    margin: 20px auto;
    height: 400px;
    width: 380px;
    background-color: $color-white;
    border-radius: $corner-radius;
    box-shadow: 0px 0px 12px $canvas-white-dark;
    img{
      object-fit: cover;
      width: 380px;
      height: 320px;
      border-radius: $corner-radius;
      border-color: $midnight-blue;
      @include border-standard(4px);
    }
    div.work-title{
      font-family: 'EavesSansHeavy';
      text-transform: capitalize;
      font-size: 32px;
      color: $purple-dark;
      width: 340px;
      margin: auto;
      text-align: start;
      line-height: 95%;
      margin-top: 5px;
    }
    div.work-creator{
      font-family: 'EavesSansHeavy';
      font-size: 20px;
      width: 340px;
      margin: auto;
      text-align: start;
      color: $purple-light;
      opacity: 75%;
    }
    
  }
  div.no-posts{
    margin: 35vh 0;
    font-family: 'EavesSansHeavy';
    color: $color-secondary;
  }
}

// groups
div.divider{
    height: 5px;
    width: 100%;
    border-radius: $corner-radius-sm;
    background-color: #4F296B;
}

div.max-size{
  width: 100%;
  height: 100%;
}
div.groupspage{
  width: 100%;
}
div.createGroupModal{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.modalContainer{
  position: absolute;
  z-index: 100;
  div.modal{
    padding: 18px;
    width: 325px;
    @include border-standard(2px);
    border-color: $midnight-blue;
    background-color: $canvas-white-light;
    div.title{
      h3{
        margin: 0;
        color: $sunset-red-dark;
      }
      div.divider{
        background-color: $sunset-red-dark;
      }
      margin-bottom: 9px;
      
    }
    form{
      div.groupname{
        @include textInput($color-white, $midnight-blue, $midnight-blue, 100%, 40px);
      }
      div.visbility{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        label{
          @include formLabel($midnight-blue, 20px);
        }
        div.togglecontainer{
          display: flex;
          justify-content: center;
          align-items: center;
          span.option{
            width: 60px;
            padding-left: 10px;
            font-family: 'EavesSansBook';
            font-size: 16px;
            color: $midnight-blue;
          }
        }
        span.toggle{
          @include toggle($canvas-white-dark, $sunset-red,$canvas-white-light, $midnight-blue, 70px);
        }
      }
      div.userlimit{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        label{
          @include formLabel($midnight-blue, 20px);
        }
        div.slidercontainer{
          display: flex;
          align-items: center;
          justify-content: end;
          span{
            margin-left: 5px;
            width: 18px;
            height: 100%;
          }
          input{
            appearance: none;
            background-color: $sunset-red;
            height: 5px;
            border-radius: $corner-radius-sm;
            outline: none;
          }
        }
      }
      div.joinsetting{
        display: block;
        p{
          @include formLabel($midnight-blue, 20px);
          margin-top: 0;
        }
        div.radiocontainer{
          padding-top: 5px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          div{
            display: flex;
            justify-content: center;
            position: relative;
            height: 42px;
            width: 90px;
            background-color: transparent;
            span.bg{
              background-color: $canvas-white-dark;
              height: 42px;
              width: 90px;
              position: absolute;
              left: 0;
              @include border-standard(2px);
            }
            span.label{
              position: relative;
              z-index: 50;
              align-self: center;
              font-family: 'EavesSansBook';
              font-size: 16px;
              color: $midnight-blue;
            }
            input{
              opacity: 0;
              cursor: pointer;
              position: absolute;
              left: 0;
              height: 42px;
              width: 80px;
              margin: 0;
              z-index: 51;
              &:checked + span.bg {
                background-color: $sunset-red;
              }
            }
          }
        }
      }
      div.buttons{
        display: flex;
        justify-content: space-between;
        button{
          width: 135px;
          height: 48px;
          margin: 0;
          margin-top: 15px;
          &.cancel{
            background-color: $canvas-white-light;
          }
        }
      }
    }
    
  }
}