@import "./style/variables";
@import "./style/mixins";

// --- Normalize ---
a {
  text-decoration: none;
  color: $color-black;
  cursor: auto;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

// --- App ---
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background: $background-color;
}

// --- Styles ---

.border-effect{
  @include border-effect("1,1");

}


// --- Button ---
button {
  padding: 0 16px;
  @include button($color-primary, $midnight-blue, $midnight-blue);
  margin: 10px;
}

button.primary {
  width: 192px;
  height: 48px;
  @include button($color-primary, $midnight-blue, $midnight-blue);
}

button.secondary {
  width: 192px;
  height: 48px;
  @include button($canvas-white-dark, $midnight-blue, $midnight-blue);
}

.cat-button {
  font-family: "EavesSansHeavy";
  font-size: 16px;
  width: 91px;
  display: flex;
  flex-direction: column;
  
  .icon {
    padding: 2px 20px;
    @include flex-center();
    @include button($color-primary, $midnight-blue, $midnight-blue);
  }

  .text {
    padding: 3px 25px;
    @include flex-center();
  }

  &.active{
    .button{
       .icon{
        @include button($color-white, $midnight-blue, $midnight-blue);
       }
    }
  }
}

//--navbar--
.navigation {
  z-index: 90;
  height: 100px;
  padding: 16px;
  background: $color-white;
  box-shadow: 0 4px 8px $color-white;

  width: 100%;

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}


li.SearchBar {
  @include searchbar($canvas-white-light, $purple-dark, $midnight-blue, 320px, $nav-element-height);
  padding: 0 16px;
  margin: $nav-element-margin;
  height: $nav-element-height;
}

nav.navigation{
  // nav smallest screen
  div.desktop{
    display: none;
  }
  div.mobile{
    span.logo{
      display: none;
    }
    li.navlogo{
      display: flex;
      align-items: end;
      padding: 0 16px;
      margin: $nav-element-margin;
    }
    li.navprofile{
      height: $nav-element-height;
      display: flex;
      align-items: end;
      justify-content: space-between;
      padding: 0 16px;
      margin: $nav-element-margin;
      width: 122px;
      span.hamburger{
        cursor: pointer;
      }
      a{
        cursor: pointer;
      }
    }
    
  }

  button.nav{
    margin-top: 20px;
    margin-bottom: 0;
  }
  
  
  li.navlogo{
    span.logo{
      cursor: pointer;
      margin: 10px;
    }
    span.text{
      cursor: pointer;
      margin: 10px;
    }
  }
  
  

  // nav small to medium screen
  @include breakpoint(sm){
    div.mobile{
      span.logo{
        display: initial;
      }
      li.navlogo{
        display: flex;
        align-items: end;
        padding: 0 16px;
        margin: 0px 10px 0px 10px;;
      }
    }
  }

  // nav large screen
  @include breakpoint(lg){
    div.desktop{
      display: initial;
      span.logo{
        display: none;
      }
      li.navlogo{
        display: flex;
        align-items: center;
        padding: 0 16px;
        margin: $nav-element-margin;
      }
      button.primary{
        width: 130px;
        font-size: 20px;
      }

      li.navprofile{
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          min-width: 100px;
      }

      div.navmessage{
        svg{
          cursor: pointer;
        }
        
      }
      
      div.profile-block{
        cursor: pointer;
        width: 52px;
        height: 52px;
        div.profile-info{
          display: none;
        }
        img{
          @include border-standard(2px);
          height: $nav-element-height;
        }
      }
    }
    div.mobile{
      display: none;
    }
  }
  // nav extra large screen
  @include breakpoint(xxl){
    div.desktop{
      span.logo{
        display: initial;
      }
      div.profile-block{
        div.profile-info{
          display: initial;
        }
      }
      div.navmessage{
        margin-left: 0px;
      }
      button.primary{
        width: 192px;
        font-size: 24px;
      }
      li.navlogo{
        display: flex;
        align-items: end;
        padding: 0 16px;
        margin: 0px 10px 0px 10px;;
      }
      li.navprofile{
        min-width: 250px;
        div.profile-block{
          width: 200px;
          display: flex;
        }
        div.profile-info{
          padding-right: 15px;
          height: $nav-element-height;
          text-align: end;
          color: $midnight-blue;
            div.username{
              font-family: 'IceCream';
              font-weight: regular;
              font-size: 24px;
            }
            div.profile{
              font-family: 'EavesSansBook';
              font-weight: bold;
              font-size: 20px;
              line-height: 75%;
            
            }
        }
      }
      li.navlogo{
        min-width: 332px;
      }
    }
  }
}

nav.mobileNavigation{
  ul{
    padding-left: 27px;
  }
  li{
    list-style: none;
  }
  div.navmessage{
    padding-right: 20px;
    svg{
      cursor: pointer;
    }
    
  }

  div.divider{
    margin: 16px 0px 0px 0px;
    width: 332px;
    background-color: $canvas-white-dark;
    border-radius: 6px;
    height: 6px;
  }

  li.SearchBar {
    margin: 16px 0px 0px 0px;
    max-width: 296px;
  }


  button.nav{
    margin: 16px 0px 0px 0px;
    width: 332px;
  }

  li.navprofile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 332px;
    margin-bottom: 20px;
  }
  
  div.profile-block{
    cursor: pointer;
    width: 250px;
    height: 72px;
    display: flex;
    align-items: center;
    
    div.profile-info{
      padding-right: 15px;
      height: $nav-element-height;
      text-align: start;
      color: $midnight-blue;
      div.username{
        font-family: 'IceCream';
        font-weight: regular;
        font-size: 24px;
      }
      div.profile{
        font-family: 'EavesSansBook';
        font-weight: bold;
        font-size: 20px;
        line-height: 75%;
            
      }
    }
    img{
      @include border-standard(2px);
      height: 72px;
      margin-right: 16px;
    }
  }
  
}

div.mobileNav{
  
  @include breakpoint(lg){
    display: none;
  }
}

div.mobileMenu{
  z-index:100;
  background-color: $canvas-white-light;
  width: 368px;
  height: 810px;
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 16px 0px 0px 0px;
  border: 4px $canary-yellow-dark;
  border-style: solid none none solid;
}

div.modalbackground{
  z-index:99;
  background-color: rgba(39, 6, 6, 0.021);
  height: 100%;
  width: 100%;
  position: absolute;
}


// --- Headers ---
h1 {
  font-size: 60px;
  font-family: "Icecream";
  color: $color-secondary;
}

h2 {
  font-size: 48px;
  font-family: "Icecream";
  color: $purple-pastel;
}

h3,
h4,
h5,
h6 {
  font-family: "EavesSansHeavy";
  color: $purple-dark;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

// --- links ---

.link > a {
  color: $color-secondary;
  font-size: 16px;
  font-family: "EavesSansBook";
  transition: color 0.3s ease;

  @include clickable;

  &:hover {
    color: $purple-dark;
  }
}

// --- Text ---
.item-title {
  font-size: 24px;
  font-family: "EavesSansHeavy";
  text-align: left;
  border-bottom: 4px solid $midnight-blue;
  margin-bottom: 20px;
}


// --- Page ---

.page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 27px 18px 55px 18px;
}

// --- Misc page elements ---

.upload-banner-page {
  .btns {
    display: flex;
    justify-content: space-between;
    button {
      margin: 0;
    }
  }
}

// --- Profile ---

.profile {
  background-image: url("./assets/Compentent_assests/rasterframe_yellow.png");
  background-size: contain;

  .profile-main {
    height: 296px;
    display: flex;
    flex-direction: column;

    .banner {
      position: relative;
      background: $color-white;
      overflow: hidden;
      width: 100%;
      height: 152px;

      @include border-standard(3px);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .collapse {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 100%;
        left: 100%;
        padding-bottom: 30px;
        padding-right: 45px;

        @include clickable;
      }

      .dots {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 100%;
        left: 0%;
        padding-bottom: 30px;
        padding-left: 60px;

        @include clickable;
      }
    }

    .profile-btns {
      display: grid;
      flex-grow: 1;
      max-height: 150px;

      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);

      img {
        position: absolute;
        width: 110px;
        left: 50%;
        transform: translate(-50%, -50%);
        aspect-ratio: 1/1;
        object-fit: cover;
        @include border-standard(3px);
        @include border-effect("1,1");
      }
    }
  }
}

// --- Add post ---

.add-post {
  display: flex;
  flex-direction: column;
  .tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    button {
      margin: 0;
    }
  }
  .content{
    flex-grow: 1;
    display: flex;
    width: 100%;
    
  }
  .form{
    padding: 0 20px;
    flex-grow: 1;
  }
}

// --- Components ---

.artwork {
  @include flex-center();
  aspect-ratio: 11/10;
  background-color: $color-white;
  box-shadow: 0px 0px 24px 0px $color-primary;
  @include border-standard(0);
  width: 100%;
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      box-sizing: border-box;
      @include border-standard(4px);
    }
  }
}

.upload-card {
  flex-grow: 1;
  max-width: 400px;
  width: 300px;
  height: 185px;
  background: $color-white;
  margin: 40px 0;
  @include border-standard(4px);
  .upload-label {
    @include flex-center(column);
    height: 100%;
  }
}

.uploadImageFlow {
  .file-name-container {
    height: 185px;
    width: 100%;
    margin: 40px 0;
    .file-name {
      padding: 5px 20px;
      color: $color-secondary;
      font-family: "EavesSansHeavy";
      font-size: 20px;
      font-style: normal;
      text-decoration-line: underline;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $color-white;
      @include border-standard(4px);
    }
  }

  .card-item {
    width: 100%;

    @include flex-center();
  }
}

.preview-item {
  .item {
    margin: 40px 0;
    overflow: hidden;
    width: 100%;
    height: 152px;

    @include border-standard(3px);
    @include border-effect("1,1");
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.form {
  margin-top: -20px;
  .form-item {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    label {
      font-family: "EavesSansHeavy";
      font-size: 20px;
      color: $color-black;
      text-align: left;
      padding-left: 12px;
    }
    input,
    textarea {
      padding: 10px;
      font-family: "EavesSansBook";
      font-size: 16px;
      border: 2px solid $midnight-blue;
      @include border-standard(2px);
    }
  }
}

// ----feed----

div.feedpage{
  background-image: url("./assets/Compentent_assests/rasterframe_yellow.png");
  background-size: contain;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

div.feed-btns{
  top: $nav-margin;
  margin: 8px auto;
  padding: 0 21px;
  width: 434px;
  display: flex;
  justify-content: space-between;
  div.subnav-button{
    @include subnavbutton($canary-yellow,$color-white, $midnight-blue, $midnight-blue);
  }
}
.fixed{
  position: fixed;
}

div.feed{
  margin-top: 210px;
  div.feed-entry{
    margin: 20px auto;
    height: 400px;
    width: 380px;
    background-color: $color-white;
    border-radius: $corner-radius;
    box-shadow: 0px 0px 12px $canvas-white-dark;
    img{
      object-fit: cover;
      width: 372px;
      height: 320px;
      border-radius: $corner-radius;
      border-color: $midnight-blue;
      @include border-standard(4px);
    }
    div.work-title{
      font-family: 'EavesSansHeavy';
      text-transform: capitalize;
      font-size: 32px;
      color: $purple-dark;
      width: 340px;
      margin: auto;
      text-align: start;
      line-height: 95%;
      margin-top: 5px;
    }
    div.work-creator{
      font-family: 'EavesSansHeavy';
      font-size: 20px;
      width: 340px;
      margin: auto;
      text-align: start;
      color: $purple-light;
      opacity: 75%;
    }
  }
}
