@import './variables';

@mixin clickable{
    cursor: pointer;
  }

@mixin flex-center ($direction: row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
  }

@mixin border-standard($width) {
    border-radius: $corner-radius;
    border: $width solid $midnight-blue;
  }

@mixin drop-shadow($x-offset, $y-offset) {
    box-shadow: $x-offset $y-offset 0 $midnight-blue;
  }

@mixin border-effect($place) {
    @if $place == '0,0' {
      @include drop-shadow(-4px, -4px);
    } @else if $place == '1,0' {
        @include drop-shadow(4px, -4px);
    } @else if $place == '1,1' {
        @include drop-shadow(4px, 4px);
    } @else if $place == '0,1' {
        @include drop-shadow(-4px, 4px);
    } 
  }



@mixin button($bg-color, $text-color, $border-color) {
    background-color: $bg-color;
    color: $text-color;
    text-align: center;
    font-family: 'EavesSansBook';
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    @include border-standard(2px);
    border-color: $border-color;
    

    &:hover {
      background-color: darken($bg-color, 10%);
    }

    &.has-icon {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

  }


  @mixin searchbar($bg-color, $text-color, $border-color, $D-width, $D-height) {
    background-color: $bg-color;
    color: $text-color;
    width: $D-width;
    height: $D-height;
    @include border-standard(2px);
    border-color: $border-color;
    background-color: $bg-color;
    position: relative;
    input.search{
      border: none;
      background-color: transparent;
      position: absolute;
      left: 10px;
      height: 95%;
      width: 75%;
      color: $purple-dark;
      font-family: 'EavesSansBook';
      font-size: 18px;
    }
    i.material-icons{
      position: absolute;
      right: 10px;
      top: 30%;
      color: $border-color;
    }

  }
  
  // --- Breakpoints ---

  @mixin breakpoint($point) {
    @if $point == sm {
      @media (min-width: $smBreakpoint) { @content; }
    }
    @if $point == md {
      @media (min-width: $mdBreakpoint) { @content; }
    }
    @if $point == lg {
      @media (min-width: $lgBreakpoint) { @content; }
    }
    @if $point == xl {
      @media (min-width: $xlBreakpoint) { @content; }
    }
    @if $point == xxl {
      @media (min-width: $xxlBreakpoint) { @content; }
    }
  }
  


